@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-image: url('https://i.pinimg.com/564x/ba/a8/f1/baa8f1a647a84cc11e77a3379df3814c.jpg');
}

a {
  text-decoration: none;
  color: inherit;
}

.board-wrap {
  width: 1000px;
  margin: 100px auto;
}

.board-title {
  margin-bottom: 30px;
}

.board-title h1 {
  font-size: 2.5rem;
}

.board-title p {
  margin-top: 5px;
  font-size: 1rem;
}

.btn-wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.btn-wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1rem;
}

.btn-wrap a:first-child {
  margin-left: 0;
}

.btn-wrap a.on {
  background-color: #000;
  color: #fff;
}

.board-write {
  border-top: 2px solid #000;
}

#evalRegister {
  background-color: #000;
  color: #fff;
  width: 102px;
  height: 46px;
  cursor: pointer;
  font-size: 16px;
}

#evalRegister2 {
  background-color: #000;
  color: #fff;
  width: 102px;
  height: 46px;
  cursor: pointer;
  font-size: 16px;
}

.board-write .title,
.board-write .info {
  padding: 15px;
}

.title input {
  width: 100%;
  height: 25px;
  font-size: 16px;
  padding: 5px;
}

.board-write .info {
  border-top: 1px dashed #ddd;
  border-bottom: 1px solid #000;
  color: #777;
}

.info input{
	border: none;
	font-size: 16px;
	background-color: inherit;
	width: 100%;
}

.info span {
  margin: 10px;
}

.board-write .cont textarea {
  display: block;
  width: 100%;
  height: 300px;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #999;
  line-height: 200%;
}
